/* ----- Глобальные стили ----- */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding-left: 12.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1.0s ease-in-out;
}

#file-input {
    display: none;
}