/* Глобальные константы */
:root {
    --fade-duration: 2.0s;
    --neon-color: #4f00ff;
}

/* Фон и центрирование */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding-left: 12.5%;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
        url('back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Плавающий контейнер */
.floating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-20px); }
}

@keyframes neonPulse {
    0% {
        box-shadow:
            0 0 5px var(--neon-color),
            0 0 15px var(--neon-color);
        transform: scale(1);
    }
    50% {
        box-shadow:
            0 0 20px var(--neon-color),
            0 0 40px var(--neon-color);
        transform: scale(1.02);
    }
    100% {
        box-shadow:
            0 0 5px var(--neon-color),
            0 0 15px var(--neon-color);
        transform: scale(1);
    }
}

/* Рамка для картинки */
.mirror-frame {
    width: 400px;
    height: 400px;
    border: 2px solid #aaa;
    border-radius: 25px;
    background: linear-gradient(145deg, #222, #444);
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

/* Блеск при наведении на картинку */
.mirror-frame img:hover {
    box-shadow: 0 0 50px rgba(255,255,255,0.45) inset;
}

.mirror-frame img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity var(--fade-duration) ease-in-out;
}

.mirror-frame img.fading-in {
    opacity: 1;
}

.mirror-frame img.fading-out {
    opacity: 0;
}

.mirror-frame:hover {
    box-shadow: 0 0 50px rgba(255,255,255,0.4);
}

/* Глянцевая кнопка */
.glossy-button {
    width: 404px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(145deg, #555, #888);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.glossy-button:hover {
    background: linear-gradient(145deg, #666, #aaa);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

/* Скрытый input */
#file-input {
    display: none;
}